/* 폰트 기본 설정*/
@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
body {
    font-family: 'SpokaHanSansNeo', sans-serif;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2E9D8;
}
.header-visual {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.menu-dialog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #263140;
    background-position: right;
    background-size: 80%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/img_5.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2E9D8;
}
.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/modal-bg-img.png");
    background-size: cover;
    border-radius: 30px;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.footer-visual {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.social-media-links {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}